<!-- ====================== BARRA SUPERIOR ====================== -->
<header class="navbar bg-base-100 flex flex-row justify-between shadow-sm w-full">
    <!-- PESTAÑAS (solo los botones) -->
    <div class="tabs tabs-lift top-10 translate-y-[12px]">
        <label class="tab">
        <input type="radio" name="my_tabs_3" value="peliculas" <% if (movie !== 0) { %> checked <% } %> />
        Películas
        </label>
        <label class="tab">
        <input type="radio" name="my_tabs_3" value="actores" <% if (movie === 0 && actor !== 0) { %> checked <% } %>/>
        Actores
        </label>
        <label class="tab">
        <input type="radio" name="my_tabs_3" value="directores" <% if (movie === 0 && actor === 0) { %> checked <% } %>/>
        Directores
        </label>
    </div>

    <div class="flex">
        <!-- FILTRO DE GÉNERO -->
        <div class="flex-none px-2">
            <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>Selecciona un género</option>
            <option>Horror</option>
            <option>Epic</option>
            <option>Nose</option>
            </select>
        </div>

        <!-- BUSCADOR -->
        <form action="/buscar" method="GET" class="flex-none px-2">
            <label class="input input-bordered flex items-center gap-2">
            <svg class="h-5 w-5 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-width="2.5" fill="none" stroke="currentColor">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" name="q" placeholder="Search" value="<%= searchTerm %>" class="grow" />
            </label>
        </form>
    </div>


    <div>
        <a class="btn btn-ghost text-xl" onclick="window.location.href='/'">Movie web</a>
    </div>
</header>
