<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-base-200">

<div class="card w-full max-w-md shadow-xl bg-base-100 p-8">
<h1 class="text-2xl font-bold text-center mb-6">Iniciar sesión</h1>

<!-- el metodo post hace que la informacion no aparezca en el url (para proteger los datos)-->
<form action="/login" method="POST" class="space-y-4">
    <div class="form-control">
        <!--El label crea un subtitulo que esta vinculado con un input especifico -->
        <!--Al tocar "Email" el cursor se mete automaticamente en el input del email-->
        <label for="email"> <span class="label-text">Email</span> </label><br>
        <input id="email" name="email" type="email" required placeholder="Tu email" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <label for="password"><span class="label-text">Contraseña</span></label><br>
        <!-- el type password hace que no se vea lo que escribe el usuario-->
        <input id="password" name="password" type="password" required placeholder="Tu contraseña" class="input input-bordered w-full">
    </div>

    <div class="form-control mt-4">
        <button type="submit" class="btn btn-primary w-full">Entrar</button>
    </div>
    <% if(popUp) {%>
        <div role="alert" class="alert alert-warning">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>Contraseña incorrecta</span>
        </div>
    <%}%>

</form>



<div class="divider">o</div>


<p class="text-center">¿No tenés una cuenta?
    <a href="/register" class="text-primary font-semibold">Registrate acá</a>
</p>
</div>
</body>
</html>
