---
import "../assets/app.css";

import HomeLayout from "../layouts/HomeLayout.astro";

import LaserFlowBox from "../components/ReactBits/LaserFlow/LaserFlowBox";
---

<HomeLayout
    title="Movie Web App"
    class="relative min-h-screen overflow-hidden bg-[#060010]"
>
    <main
        class="relative flex min-h-screen w-full flex-col items-center justify-center"
        data-theme="movieweb"
    >
        <Fragment slot="head">
            <style>
                @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
            </style>
        </Fragment>

        <LaserFlowBox client:only="react" />
    </main>
</HomeLayout>
