---
import "../assets/app.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="movieweb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/src/assets/app.css" rel="stylesheet" />
        <meta name="generator" content={Astro.generator} />
        <title>Auth - {title}</title>

        <slot name="head" />
    </head>

    <body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
